.tableitems {
  width: 60%;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 20px;
}


.tableitems th,
.tableitems td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: 1px solid black;
}

.tableitems th {
  background-color: #f2f2f2;
  border: 1px solid black;
}

.picture {
  width: 80px;
  height: 30px;
  object-fit: cover;
}

.butonn {
  background-color: #dc1e1e;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.butonn:hover {
  background-color: #a06e45;
}

input[type="number"] {
  width: 50px;
  padding: 4px;
}

.cart .cart-total {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  margin-left: 60%;
}

.cart .cart-total h5 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.cart .cart-total h6 {
  font-size: 16px;
}

.cart .cart-total .d-flex {
  justify-content: space-between;
  margin-top: 10px;
}

.cart .cart-total .d-flex h6 {
  font-weight: bold;
}

.cart .cart-total .d-flex h6:last-child {
  color: #28a745;
}

.cart .addressform {

  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;

  position: fixed;
  top: 100px;
  right: 70px;
}

.cart .addressform option {
  padding: 5px;
}

.cart .addressform p {
  font-size: 18px;
}

.cart .addressform button {
  font-size: 18px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.cartContainer {
  margin-top: 65px;
  display: flex;
}

.cart-container {
  text-align: center;
  padding: 2px;
  background-color: burlywood;
}

.cartRemoveBtn {
  margin-top: 10px;
}

.cartRemoveBtn button {
  border: 1px solid black;
  border-radius: 14px;
  background-color: #cce1848a;
  width: 120px;
  font-weight: bold;
  font-size: 16px;
}

.cartRemoveBtn button:hover {
  background-color: #f6f7f68a;
}

.addressform {
  margin-top: 20px;
}

.addressform p {
  font-size: 18px;
  margin-bottom: 10px;
}

.addressform select {
  border: none;
  border-radius: 10px;
  padding: 2px 10px;
  width: 100%;
  font-weight: 350;
  background-color: orange;
}

.addressform select:hover {
  background-color: #cce1848a;
  border: none;
}

.addressform option {
  font-weight: normal;
}

.addressform button {
  font-size: 18px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.picture {
  width: 20%;
  margin-left: 20%;
}

button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10%;
}

.cart .cart-total {

  padding: 20px;
  background-color: #f5f5f5;
  width: 30%;
  position: fixed;
  top: 170px;
  right: 70px;
  border: 1px solid black;
  border-radius: 20px;
}

.imgAvatarr{
  width:80%;
  margin-top: -10%;
  margin-left: 10%;
}